<!DOCTYPE html>
<html>
  <head>
    <title>Todotoday</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag 'rails-ujs' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <% if user_signed_in? %>
      <div style="display:flex; justify-content:space-between;">
        <%= link_to "Home", root_path %>
        <%= link_to "My Profile", profile_path(current_user.profile.nickname) %>
        <%= link_to "Task Lists", task_lists_path %>
        <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
      </div>
    <% else %>
      <%= link_to "Sign in", new_user_session_path %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
